* {
    box-sizing: border-box;
    margin: auto;
}

body{
  background-color: #77b6bf;
}

.grid-container {
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
  }

.search {
  padding: 1em;
  width: 80%;
  height: 120px;
  font-size: 1.5em;
  text-align: center;
  border: solid 1px black;
  background-color: grey;
}

.grid-library {
  width: 80%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  border: solid 1px black;
  background-color: #fff;
}

.grid-item {
  width: auto;
  padding: .5em;
  background-color: #ffffff;
  /* border: solid 1px black; */
}
